<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ReceitasMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-Cerulean.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <script src="~/vendor/jquery/jquery.min.js"></script>

</head>

<body bgcolor="yellow"></body>




<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nossa Receita </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="btn btn-info" asp-area="" asp-controller="Gestao" asp-action="Index">Área
                                Administrativa</a>
                            <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="ListaDeReceitas">Ver
                                todas as Receitas</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer  bg-info">
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/frente.js"></script>
</body>

</html>
