@{
    Layout = "_LayoutAdmin";
}

<style>
    .msg {

        justify-content: center;
        justify-items: center;
        color: #033c73;
        font: italic bold 75px arial, sans-serif;

    }
</style>

<center>
    <div class="msg">

        <h1>Nossa Receita</h1>
        <h3>Área Administrativa</h3>
        <img src="Imagens/LogoReceita.png" width="600" height="500">

    </div>
</center>